body {
  background-color:lightblue;
  max-width: 1000px;
  margin: 0 auto;

  .wrapper {
    border-radius:15px;
    background-color:white;
    padding:15px;
  }
}

header {
  text-align:center;
  border-bottom:3px solid blue;
}

main {
  min-height:600px;
}

h1 {
  font-size:180%;
  font-weight:bold;
}

main div.half {
  width:49%;
  display:inline-block;
}

#project_stats {
  border:1px solid black;
  min-width:20px;

  thead tr {
    background-color:darkblue;
    color:white;
    text-align:left;
    font-weight:bold;

    td, th {
      padding: 15px;
    }
  }
  tbody {
    tr {
      th, td {
        text-align:left;
        padding:10px;
      }
    }
  }

}