body {
  background-color:lightblue;
  max-width: 1000px;
  margin: 0 auto;

  .wrapper {
    border-radius:15px;
    background-color:white;
    padding:15px;
  }
}

header {
  text-align:center;
}

main {
  min-height:600px;
}

h1 {
  font-size:180%;
  font-weight:bold;
}
